h1 {
  background: #eb5353;
  padding: 16px;
  border-radius: 4px;
  color: white;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
}

.seat {
  background: #f66b0e;
  margin: 2px;
  padding: 6px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.unbooked {
  background: #f9d923;
}

button {
  background: #eb5353;
  color: white;
  padding: 8px;
  border-radius: 4px;
  border: none;
  position: absolute;
  left: 40%;
}

.booked-ticket{
  display: inline-block;
  background: #eb5353;
  color: white;
  padding: 8px;
  border-radius: 4px;
  min-width: 100px;
  height: 16px;
}